In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\sajivinin\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\sajivinin\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\sajivinin\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sajivinin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sajivinin\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [8]:
import pandas as pd

In [9]:
!pip install  fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [11]:
from fuzzywuzzy import process
from fuzzywuzzy import fuzz

In [57]:
data = pd.read_csv("C:/Users/sajivinin/Documents/GRN MisMatch_New.csv ")
data

                     Unique         Reference     Delivery Note
0      A0501000345109492780        INS2600996         IN2600996
1      A0501000345109494838        4300019621               NaN
2      A0501000385109389753  AF/2021/08/02492  AFP/2021/08/03-2
3      A0501000385109389753  AF/2021/08/02492  AFP/2021/08/06-2
4      A0501000385109389753  AF/2021/08/02492  AFP/2021/07/30-1
...                     ...               ...               ...
24097  H1504045455109424498        LC2110240B         LC2110240
24098  H1504045735109430367               224             30859
24099  H1504048945109421904       2021A/C4372      2021A/C-4372
24100    H150H0505109415297   INV21/H050/0021             33587
24101    H150H0505109415297   INV21/H050/0021             34551

[24102 rows x 3 columns]

In [59]:
data['Delivery Note'] = data['Delivery Note'].fillna('blank')

In [60]:
def get_matches(query,choice,limit=3):
  results = process.extract(query,choice,limit=limit)
  return results

In [61]:
get_matches('INS2600996',data['Delivery Note'])

[('IN2600996', 95, 0), ('99', 90, 18385), ('20209', 72, 18148)]

In [24]:
# compare = pd.MultiIndex.from_product([ data['Reference'],data['Delivery Note'] ]). to_series()
# def metrics (tup):
#     return pd.Series([fuzz.partial_ratio(*tup),fuzz.token_sort_ratio(*tup)], ['partial', 'token'])
#     compare.apply(metrics)

In [63]:
df1 = pd.DataFrame()
df1['Unique'] = data['Unique']
df1['Reference'] = data['Reference']
df1['Delivery Note'] = data['Delivery Note']
df1['Matching'] = data['partial_ratio'] = data.apply(lambda x: fuzz.partial_ratio(x['Reference'], x['Delivery Note']), axis=1)

In [64]:
df1

                     Unique         Reference     Delivery Note  Matching
0      A0501000345109492780        INS2600996         IN2600996        89
1      A0501000345109494838        4300019621             blank         0
2      A0501000385109389753  AF/2021/08/02492  AFP/2021/08/03-2        81
3      A0501000385109389753  AF/2021/08/02492  AFP/2021/08/06-2        81
4      A0501000385109389753  AF/2021/08/02492  AFP/2021/07/30-1        69
...                     ...               ...               ...       ...
24097  H1504045455109424498        LC2110240B         LC2110240       100
24098  H1504045735109430367               224             30859         0
24099  H1504048945109421904       2021A/C4372      2021A/C-4372        91
24100    H150H0505109415297   INV21/H050/0021             33587        20
24101    H150H0505109415297   INV21/H050/0021             34551        20

[24102 rows x 4 columns]

In [65]:
df1.to_csv('GRN_MisMatchNew01.csv')